@model IEnumerable<ehs5.Models.PropertyImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyImageId1Navigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyImageId1Navigation.PropertyImageId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
